body {
    margin: 0px;
}

.main {
    display: flex;
    max-width: 100vw;
    height: 100vh;
}

.navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    background-color: #005392;
}

.nav-list {
    list-style: none;
}

.saved-notes-div {
    background-color: #EBEBEB;
    flex-basis: 300px;
    border-left: 3.5px solid #D3D3D3;
    border-right: 3.5px solid #D3D3D3;
    box-shadow: 0 0 5px 1px #ccc;
}

.saved-notes-list {
    list-style: none;
}

.toolbar-and-editor-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100vw;
}

@media screen and (max-width: 800px) {
    .main {
        flex-direction: column;
    }

    .saved-notes-div {
        flex-basis: 100vh;
    }

    .toolbar-and-editor-container {
        display: none;
    }
}