@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Creepster&family=Jolly+Lodger&family=Indie+Flower&family=Inconsolata&family=Noto+Serif&family=Roboto&Montserrat&family=Playfair+Display:ital,wght@0,500;1,700&family=Roboto&family=Sofia&family=Ubuntu&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=family=Montserrat&family=Playfair+Display:wght@500;700&display=swap'); */



/*
  ==============================================================================
  Custom styles
  ==============================================================================
*/
/* account for any border and padding in the values you specify 
for an element's width and height */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* styles the tab navigation links and buttons outline */
*:focus {
    outline:
        /*thin dotted #E0AD34*/
        none;
}

/* removes the text decoration from all navigation links */
a {
    text-decoration: none;
}


/* ======= Hide scrollbar ====== */
* {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}


/*page layout*/

.main {
    display: flex;
    max-width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.navbar {
    height: 100%;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    flex-basis: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-bg);
}

.nav-list {
    list-style: none;
}

.nav-button {
    background-color: var(--blue-bg);
}

.favorite-toggle {
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.favorite-toggle svg {
    width: 17px;
    fill: var(--dark-fill);
}

.saved-notes-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-grey-bg);
    height: calc(100% - 50px);
    min-width: 300px;
}

.saved-notes-list {
    list-style: none;
    overflow: auto;
    height: calc(100% - 50px);
    width: 100%;
}

.toolbar-and-editor-container {
    display: flex;
    /* flex-basis: 100vh; */
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: var(--white-bg);
    height: calc(100% - 50px);
    width: 100%;
    overflow: auto;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border: none;
}

.ql-toolbar {
    box-shadow: var(--hover-note-shadow);
}

#toolbar {
    /*makes sure toolbar buttons are never over close button*/
    padding-right: 70px;
    margin-bottom: 10px;
    position: relative;
}

#editor {
    /* height: calc(1fr - 50px); */
    overflow: auto;
}

/*adding custom picker label*/
.ql-style .ql-picker-label::before {
    content: "Custom styles";
    padding-right: 20px;
}

/* logo and navbar icons*/
.logo {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: var(--white-fill);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-bg);
    width: 50px;
    height: 50px;
}

.nav-icon {
    display: inline-flex;
    min-width: 50px;
    justify-content: center;
    height: 50px;
}

.nav-icon button {
    border: none;
    width: 100%;
    height: 50px;
}

.nav-icon button:active,
.nav-icon button:hover,
.nav-icon button:focus {
    background-color: var(--blue-bg-active);
}

.nav-icon svg {
    height: 16px;
    fill: var(--white-fill);
    color: var(--white-fill);
}

#starred-button.selected svg,
#search-button.selected svg,
#trash-bin-button.selected svg {
    fill: var(--selected-fill);
    color: var(--selected-fill);
}

/* item cogwheel */
.cogwheel-list-item {
    background: transparent url('./icons/cogwheel.svg') center calc(50% - 2.5px) no-repeat;
    background-size: 35%;
}

.cogwheel-list-item:hover {
    background-color: var(--blue-bg-active);
}

/* styling to make the cogwheel look like the other icons */
.cogwheel-select {
    max-width: 50px;
    min-width: 50px;
    height: auto;
    color: transparent;
    border: none;
    background: transparent;
}

.cogwheel-select option {
    background: var(--blue-bg);
    color: var(--white-txt);
    height: 100%;
}


/*typography*/
h1,
h2 {
    font-family: var(--title-font);
    font-size: 2rem;
    color: var(--dark-txt);
}



p,
li {
    font-family: var(--text-font);
    color: var(--dark-txt);
    line-height: 1.8;
}


/* special classes*/
.hidden {
    display: none !important;
}

/*intro section*/
.main-on-intro .logo {
    display: inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding-bottom: 5px;
    font-size: 2.1rem;
}

.intro {
    width: 100%;
    margin: 0 auto;
    background: url(images/sticky-notes.png) no-repeat center fixed;
    background-size: cover;
    color: var(--white-txt);
    font-weight: 700;
    min-height: 100vh;
}

.intro h1 {
    color: var(--white-txt);
    background-color: rgba(89, 89, 90, 0.71);
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px;
}

.intro h2 {
    font-variant: small-caps;
    color: var(--white-txt);
    background-color: rgba(89, 89, 90, 0.71);
    width: 90%;
    margin: 0 auto;
    padding: 5px;
}

.intro p {
    margin-bottom: 50px;
    color: var(--white-txt);
    background-color: rgba(89, 89, 90, 0.71);
    width: 90%;
    margin: 0 auto;
    padding: 5px;
}

.intro p a {
    color: var(--dark-txt);
    font-weight: bold;
    border-bottom: var(--links-border);
    border-top: var(--links-border);
    background-color: var(--white-bg);
    text-align: center;
    padding: 3px 4px;
    border-radius: 6px;
    display: block;
    width: 120px;
    margin: 15px auto 0 auto;
    font-size: 1.3rem;
}

.intro p a:hover,
.intro p a:active,
.intro p a:focus {
    color: var(--white-txt);
    background-color: transparent;
}

/* Toolbar buttons */
.ql-snow.ql-toolbar button,
.printBtn svg,
#themes {
    color: var(--dark-fill);
    fill: var(--dark-fill) !important;
}

.ql-toolbar .ql-stroke {
    fill: none;
    stroke: var(--dark-fill);
}

.ql-toolbar .ql-fill {
    fill: var(--dark-fill);
    stroke: none;
}

.ql-toolbar .ql-picker {
    color: var(--dark-fill);
}

.save-note-btn,
#print-btn,
#themes {
    width: fit-content;
    font-size: 0.8em;
    margin-left: 10px;
}

#themes {
    background-color: var(--white-bg);
}


/* buttons */
.new-note-button {
    font-size: 1rem;
    margin: 20px 0;
    padding: 6px;
    border: var(--button-border-blue);
    color: var(--blue-txt);
    font-family: var(--title-font);
    border-radius: 8px;
}

.new-note-button:hover,
.new-note-button:active,
.new-note-button:focus {
    background-color: var(--blue-bg);
    color: var(--white-txt);
}

.close-btn {
    font-size: 1.5rem;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    right: 10px;
}

.close-btn button {
    border: none;
    background-color: transparent;
    position: relative;
}

.delete-note-btn,
.restore-note-btn,
.permanently-delete {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
    margin-right: 5px;
}

.delete-note-btn svg,
.restore-note-btn svg,
.permanently-delete svg,
#print-btn svg {
    height: 12px;
    color: var(--dark-fill);
    fill: var(--dark-fill);
}

.clear-trash-bin {
    margin: 10px;
    border: none;
    border-bottom: var(--links-border);
    background-color: transparent;
    font-size: .9rem;
    font-family: var(--text-font);
    color: var(--blue-txt);
}

/* notes */
.note {
    border: var(--notes-border);
    border-radius: 3px;
    font-size: .8rem;
    padding: 5px;
    position: relative;
    width: 85%;
    max-width: 400px;
    margin: 0 auto 5px auto;
    transition: width .2s;
    background-color: var(--white-bg);
}

.note.favorite .favorite-toggle svg {
    fill: var(--selected-fill);
}

.note h1,
.note h2,
.note h3,
.note h4,
.note h5,
.note h6 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0;
}

.active-note {
    background-color: var(--white-bg);
    border-right: none;
    border-left: none;
    width: 100%;
    border-radius: 0;
}

.note-text {
    height: 60px;
    overflow: hidden;
}

.note-text ul,
.note-text ol {
    padding-left: 20px;
}

.note:hover,
.note:active,
.note:focus {
    box-shadow: var(--hover-note-shadow);
}

#searchInput {
    margin: 10px;
    padding: 5px;
    height: 30px;
    width: 205px;
    font-size: 17px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    letter-spacing: 1px;
}

/* Start of big size classes */
/* #big-size-btn {
    position: absolute;
    left: 250px;
} */

.big-size-note>h1 {
    font-size: 65px !important;
}

.big-size-note>h2 {
    font-size: 48px !important;
}

.big-size-note>h3 {
    font-size: 40px !important;
}

.big-size-note>p {
    font-size: 34px !important;
}

/* Targets all unordered and ordered list items */
.big-size-note>ul>li,
.big-size-note>ol>li {
    font-size: 34px !important;
}

/*End of big size classes*/

/* Start of academic classes */
/* #academic-btn {
    position: absolute;
    left: 50px;
} */

.academic-note {
    background-color: #ffffff;
}

.academic-note>h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 26px !important;
}

.academic-note>h2 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px !important;
}

.academic-note>h3 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 16px !important;
}

.academic-note>p {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 14px !important;
}

/* Targets all unordered and ordered list items */
.academic-note>ul>li,
.academic-note>ol>li {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 14px !important;
}

/*End of academic classes*/

/* Start of playfull classes */
/* #playfull-btn {
    position: absolute;
    left: 150px;
} */

.playfull-note {
    background-color: #feff9c;
}

.playfull-note>h1 {
    font-family: 'Caveat', cursive;
    color: #2a4e44;
    font-size: 32px !important;
}

.playfull-note>h2 {
    font-family: 'Caveat', cursive;
    color: #2a4e44;
    font-size: 26px !important;
}

.playfull-note>h3 {
    font-family: 'Caveat', cursive;
    color: #2a4e44;
    font-size: 24px !important;
}

.playfull-note>p {
    font-family: 'Indie Flower', cursive;
    color: #6dadab;
    font-size: 18px !important;
}

/* Targets all unordered and ordered list items */
.playfull-note>ul>li,
.playfull-note>ol>li {
    font-family: 'Indie Flower', cursive;
    color: #ff65a3;
    font-size: 18px !important;
}

/*End of playfull classes*/

/*Start of creepy classes*/
.creepy-note {
    background-color: #212421;
}

.creepy-note>h1 {
    font-family: 'Creepster', cursive;
    color: crimson;
    font-size: 40px !important;
}

.creepy-note>h2 {
    font-family: 'Creepster', cursive;
    color: crimson;
    font-size: 28px !important;
}

.creepy-note>h3 {
    font-family: 'Creepster', cursive;
    color: crimson;
    font-size: 20px !important;
}

.creepy-note>p {
    font-family: 'Jolly Lodger', cursive;
    color: #a0a0a0;
    font-size: 18px !important;
}

/* Targets all unordered and ordered list items */
.creepy-note>ul>li,
.creepy-note>ol>li {
    font-family: 'Jolly Lodger', cursive;
    color: #a0a0a0;
    font-size: 18px !important;
}

/*End of creepy classes*/

/*note toolbar*/
.note-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*date*/
.date {
    font-family: 'Inconsolata';
    font-size: .7rem;
    font-weight: 400;
    margin-right: 10px;
}

/*large screen version*/
@media screen and (min-width: 800px) {
    .main {
        flex-direction: row;
    }

    .saved-notes-div {
        flex-basis: 250px;
        height: 100%;
        width: 250px;
    }

    .toolbar-and-editor-container {
        position: static;
        max-width: 800px;
        height: 100%;
        border-right: var(--editor-border);
    }

    #editor {
        margin: 0 auto;
        width: 100%;
        max-width: 550px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .logo {
        width: 100%;
        height: 50px;
        margin-bottom: 40px;
    }

    .nav-icon {
        flex-direction: column;
        align-items: center;
        min-height: 50px;
    }
}

@media print {

    .navbar,
    .saved-notes-div,
    .toolbar-and-editor-container .close-btn,
    .toolbar-and-editor-container .ql-toolbar {
        display: none;
    }
}

#themes {
    display: inline-block !important;
    float: left;
    /*This "problem" is needed for the template drop down to be displayed correctly*/
    border: none;
    cursor: pointer;
    height: 24px;
    width: fit-content;
    font-size: 0.8em;
}

/* #themes {
    width: fit-content;
}
.ql-snow #themes.ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
    position: relative;
    margin-top: 0;
    top: 0;
    vertical-align: middle;
} */